/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* * {
    margin: 0;
    padding: 0;
} */

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(217, 196, 239);
}
/* Header */
input[type="checkbox"] {
  display: none;
}

.bi {
  font-size: 1.3em;
  cursor: pointer;
}

.bi-moon {
  display: none;
}

header {
  display: flex;
  text-align: center;
  justify-content: space-around;
  /* padding: 32px; */
}

header h1 {
  color: rgb(88, 49, 196);
  font-size: 3em;

  /* margin: 30px; */
}
header img {
  width: 300px;
}

#div-theme {
  position: absolute;
  z-index: 999;
  margin-top: 20px;
  margin-left: 1600px;
}

/* #div-lang {
  position: absolute;
  z-index: 999;
  margin-top: 22px;
  margin-left: 1300px;

} */


/* Main */
main {
  background-color: rgb(122, 74, 218);
  border-radius: 8px;
  color: rgb(248, 241, 255);
  padding: 32px;
  width: 700px;
  margin: 32px auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 15px;
  border-left: 5px solid transparent;
}

a {
  background-color: rgb(255, 237, 177);
  border-radius: 4px;
  color: rgb(36, 3, 102);
  padding: 2px 6px;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: rgb(36, 3, 102);
  color: rgb(255, 237, 177);
}

.extra-important {
  border-left: 5px solid rgb(247, 209, 85);
  color: rgb(255, 237, 177);
}

.highlight {
  font-weight: bold;
}

footer {
    text-align: center;
    margin-bottom: 100px;
}

footer p {
    color: rgb(131, 113, 149);
    margin-top: 30px;
}

#download-link {
    background-color: rgb(36, 3, 102);
    border-radius: 8px;
    color: rgb(255, 237, 177);
    padding: 12px 20px;
}

#download-link:hover,
#download-link:active {
    background-color: rgb(255, 237, 177);
    color: rgb(36, 3, 102);
    border: 2px solid rgb(36, 3, 102);
}

#quoting {
    font-size: 0.8em;
    text-align: center;
}

/* Dark Theme */
.dark, .dark-theme {
  background-color: #263238;
  color: #fff;
  transition: 2s;
}

.dark .bi-sun {
  display: none;
  transition: 2s;

}

.dark .bi-moon {
  display: block;
}

.dark .title {
  color:rgb(247, 244, 249);
  transition: 2s;

}

.dark .dark-main {
  background-color: #fff;
  color: rgb(36, 3, 102);
  transition: 2s;
}
  

.dark .dark-quoting {
  color:aliceblue;
  transition: 2s;

}

.dark .dark-allgun {
  color:aliceblue;
  transition: 2s;


}

.dark .dark-link {
  background-color: rgb(255, 237, 177);
    border-radius: 8px;
    color:  rgb(36, 3, 102);
    padding: 12px 20px;
  transition: 2s;

}

.dark .dark-extra {
  color:  rgb(36, 3, 102);
  font-weight: bold;
  border-left: 5px solid rgb(36, 3, 102);
  transition: 2s;

}