h1 {
    font-family: sans-serif;
    text-align: center;
    color: rgb(83, 75, 75);
  }

  p {
    font-family: sans-serif; /* Switch to sans-serif instead of serif */
    text-align: center;
  }

  a {
    color: red;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  #todays-challenge {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 62px;
  }