/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/* * {
    margin: 0;
    padding: 0;
} */

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(244, 234, 255);
}

header {
  text-align: center;
  /* padding: 32px; */
}

header h1 {
  color: rgb(88, 49, 196);
  font-size: 3em;

  /* margin: 30px; */
}
header img {
  width: 300px;
}

main {
  background-color: rgb(122, 74, 218);
  border-radius: 8px;
  color: rgb(248, 241, 255);
  padding: 32px;
  width: 700px;
  margin: 32px auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 14px 0;
  padding-left: 15px;
  border-left: 5px solid transparent;
}

a {
  background-color: rgb(255, 237, 177);
  border-radius: 4px;
  color: rgb(36, 3, 102);
  padding: 2px 6px;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: rgb(36, 3, 102);
  color: rgb(255, 237, 177);
}

.extra-important {
  border-left: 5px solid rgb(247, 209, 85);
  color: rgb(255, 237, 177);
}

.highlight {
  font-weight: bold;
}

footer {
    text-align: center;
    
}

footer p {
    color: rgb(131, 113, 149);
    margin-top: 30px;
}

#download-link {
    background-color: rgb(36, 3, 102);
    color: rgb(255, 237, 177);
}

#download-link:hover {
    background-color: rgb(255, 237, 177);
    color: rgb(36, 3, 102);
    border: 2px solid rgb(36, 3, 102);

}


#quoting {
    font-size: 0.8em;
    text-align: center;
}

