/* * {
  margin: 0;
  padding: 0;
} */
main {
  width: 800px;
  margin: 200px auto 72px auto;
  background-color: rgb(219, 108, 94);
  padding: 24px;
  border: 5px solid rgb(44, 44, 44);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}
img {
  border-radius: 100px;
  border: 5px solid rgb(44, 44, 44);
  width: 200px;
  height: 200px;
  margin-top: -134px;
}

h1 {
  font-size: 30px;
  color:rgb(44, 44, 44);
}

span {
  color:rgb(127, 115, 115);
}

#todays-challenge {
  color: rgb(41, 31, 29);
  font-weight: bold;
  font-size: 52px;
}

#allgun {
  color: rgb(131, 113, 149);
  margin-top: 30px;
  margin-bottom: 100px;
}