/* * {
  margin: 0;
  padding: 0;
} */

h1 {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
  margin: 12px 0;
}

#description {
  margin-bottom: 36px;
}

header p {
  margin-bottom: 36px;
}

header > p {
  margin-bottom: 36px;
}

a {
  background-color: rgb(167, 1, 78);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin: 20px 20px;
  padding: 12px;
  border: 3px solid rgb(167, 1, 78);
}

a:hover {
  background-color: blueviolet;
  text-decoration: none;
}


p {
  font-family: "Fira sans", sans-serif;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li {
  background-color: orange;
  border-radius: 5px;
  margin: 32px;
  padding: 16px;
}
