/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    width: 100vw;
    height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 70px; */
    /* background-color: antiquewhite; */
    margin: 0;
    padding: 15px 60px;
    position: absolute;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul {
    display: flex;
    justify-content: space-between;
}

header li {
    margin-left: 20px;
}

ul a {
    text-decoration: none;
}

#page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: rgb(245, 243, 160);
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* Main */
#hero {
    /* position: absolute; */
    height: 800px;
    background-image: url("../images/ocean.jpg");
    background-position: center;
    background-size: cover;
}

#hero-content {
    position: relative;
}

/* Footer */

